<app-center-layout *ngIf="gameSettingsForm">
    <h1>NUEVO JUEGO</h1>
    <form [formGroup]="gameSettingsForm">
        <div
            class="participants"
            formArrayName="participants">
            <span class="participants-span">Participantes</span>
            <div class="participants-div">
                <p-button
                    class="participants-button"
                    icon="pi pi-user-plus"
                    label="Agregar"
                    iconPos="left"
                    (click)="addParticipantControl()">
                </p-button>
                <p-button
                    class="participants-button"
                    icon="pi pi-refresh"
                    label="Colores"
                    iconPos="left"
                    (click)="refreshColors()">
                </p-button>
            </div>
            <div
                class="participant"
                *ngFor="let participant of participants.controls; let i = index">
                <app-participant-input
                    class="participant-input"
                    formGroupName="{{ i }}"></app-participant-input>
                <p-button
                    class="participant-button"
                    icon="pi pi-trash"
                    styleClass="p-button-danger"
                    [disabled]="participants.controls.length <= 4"
                    (click)="participants.controls.length > 4 && removeParticipantControl(i)">
                </p-button>
            </div>
        </div>
        <div
            class="score"
            formGroupName="goalScore">
            <div class="score-points">
                <span class="score-points-span">Puntos</span>
                <p-inputNumber
                    formControlName="points"
                    mode="decimal"
                    [showButtons]="true"
                    buttonLayout="vertical"
                    spinnerMode="vertical"
                    decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    [min]="1"
                    [max]="6">
                </p-inputNumber>
            </div>
            <div class="score-sets">
                <span class="score-sets-span">Sets</span>
                <p-inputNumber
                    formControlName="sets"
                    mode="decimal"
                    [showButtons]="true"
                    buttonLayout="vertical"
                    spinnerMode="vertical"
                    decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    [min]="1"
                    [max]="3">
                </p-inputNumber>
            </div>
        </div>
        <div
            class="optionals"
            formGroupName="optionals">
            <div class="field-checkbox">
                <p-checkbox
                    formControlName="lockWinnerTeam"
                    inputId="lockWinnerTeam"
                    [binary]="true">
                </p-checkbox>
                <label for="lockWinnerTeam">Equipo ganador sigue jugando</label>
            </div>
        </div>
    </form>
    <button
        pButton
        type="button"
        class="p-button-raised p-button-rounded p-button-success start-button"
        [disabled]="!gameSettingsForm.valid"
        (click)="startGame()">
        Comenzar
    </button>
</app-center-layout>
