<div
    class="teams"
    [ngClass]="{ 'special-effect': hasSpecialEffects }">
    <div class="team team-1">
        <div class="team-number">EQUIPO 1</div>
        <div class="players">
            <app-player
                [player]="player1"
                [team]="team1"
                (playerClick)="playerClick.emit(PLAYER_POSITIONS[0])">
            </app-player>
            <app-player
                [player]="player2"
                [team]="team1"
                (playerClick)="playerClick.emit(PLAYER_POSITIONS[1])">
            </app-player>
        </div>

        <div class="score">
            <app-score
                class="stadium-score"
                [score]="scoreTeam1"
                (counterClick)="scoreClick.emit(0)">
            </app-score>
        </div>
    </div>

    <div class="team team-2">
        <div class="team-number">EQUIPO 2</div>
        <div class="players">
            <app-player
                [player]="player3"
                [team]="team2"
                (playerClick)="playerClick.emit(PLAYER_POSITIONS[2])">
            </app-player>
            <app-player
                [player]="player4"
                [team]="team2"
                (playerClick)="playerClick.emit(PLAYER_POSITIONS[3])">
            </app-player>
        </div>

        <div class="score">
            <app-score
                class="stadium-score"
                [score]="scoreTeam2"
                (counterClick)="scoreClick.emit(1)">
            </app-score>
        </div>
    </div>
</div>
