.teams {
  display: flex;
  gap: 16px;
  padding: 16px;

  .team {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    gap: 16px;

    .team-number {
      font-size: 18px;
      text-align: center;
    }
  }

  &.special-effect {
    --border-size: 8px;
    --border-angle: 0turn;
    background-color: #121123;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size:
      calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 2s cubic-bezier(0.25, 0.71, 0.92, 0.49) infinite;

    .team-number,
    .players {
      color: white;
    }
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
