<ng-container *ngIf="game$ | async as game">
    <div class="game-title">
        <h1 class="game-h1">JUGANDO</h1>
        <button
            type="button"
            pButton
            icon="pi pi-bars"
            (click)="menu.toggle($event)"
            class="p-button-text p-button-secondary"></button>
        <p-menu
            #menu
            [popup]="true"
            [model]="menuOptions"></p-menu>
    </div>
    <app-stadium
        class="stadium"
        [hasSpecialEffects]="game.isGoldenPoint"
        [player1]="getPlayerByPosition(game, PLAYER_POSITIONS[0])"
        [player2]="getPlayerByPosition(game, PLAYER_POSITIONS[1])"
        [player3]="getPlayerByPosition(game, PLAYER_POSITIONS[2])"
        [player4]="getPlayerByPosition(game, PLAYER_POSITIONS[3])"
        [scoreTeam1]="getScoreAt(game, 0)"
        [scoreTeam2]="getScoreAt(game, 1)"
        (playerClick)="openPlayerSelector($event)"
        (scoreClick)="incrementCounterAt($event)">
    </app-stadium>
    <p-dialog
        position="right"
        [modal]="true"
        [dismissableMask]="true"
        [header]="playerSelectorHeader"
        [(visible)]="displayPlayerSelector">
        <ng-container *ngIf="gameSettings">
            <p-listbox
                [options]="gameSettings.participants"
                optionLabel="name"
                optionValue="name"
                (onClick)="playerSelectorClick($event)">
            </p-listbox>
        </ng-container>
    </p-dialog>
</ng-container>
<p-confirmDialog
    icon="pi pi-exclamation-triangle"
    [closable]="false">
</p-confirmDialog>
