<!-- TODO: reconvertir a selects y arreglar el responsive. -->
<!-- TODO: hacer la sumatoria de score, revertir ultimo puntaje, y el fin de juego (reiniciar). -->
<!-- TODO: Cunado eligen un participante ocupa el slot, y si ya estaba en otro slot se deja el slot limpio. -->
<!-- TODO: contar cuantos partidos jugó cada jugador, rotar jugadores al finalizar con un algoritmo -->
<ng-container *ngIf="game$ | async as game">
    <div class="game-title">
        <h1 class="game-h1">JUGANDO</h1>
        <!-- TODO: tres puntitos: reiniciar partido, ir al inicio, full width -->
    </div>
    <app-stadium class="stadium">
        <div
            class="stadium-score"
            score-left>
            SL
        </div>
        <div
            class="stadium-slot slot-left"
            slot-0-0
            (click)="openPlayerSelector(0, 0)">
            <div
                class="slot-background-color"
                [ngStyle]="{ background: getPlayerAt(game, 0, 0)?.color || 'white' }"></div>
            <i class="pi pi-user"></i>
            <span class="slot-span">{{ getPlayerAt(game, 0, 0)?.name || '1' }}</span>
        </div>
        <div
            class="stadium-slot slot-left"
            slot-0-1
            (click)="openPlayerSelector(0, 1)">
            <div
                class="slot-background-color"
                [ngStyle]="{ background: getPlayerAt(game, 0, 1)?.color || 'white' }"></div>
            <i class="pi pi-user"></i>
            <span class="slot-span">{{ getPlayerAt(game, 0, 1)?.name || '2' }}</span>
        </div>
        <div
            class="stadium-slot slot-right"
            slot-1-0
            (click)="openPlayerSelector(1, 0)">
            <div
                class="slot-background-color"
                [ngStyle]="{ background: getPlayerAt(game, 1, 0)?.color || 'white' }"></div>
            <i class="pi pi-user"></i>
            <span class="slot-span">{{ getPlayerAt(game, 1, 0)?.name || '3' }}</span>
        </div>
        <div
            class="stadium-slot slot-right"
            slot-1-1
            (click)="openPlayerSelector(1, 1)">
            <div
                class="slot-background-color"
                [ngStyle]="{ background: getPlayerAt(game, 1, 1)?.color || 'white' }"></div>
            <i class="pi pi-user"></i>
            <span class="slot-span">{{ getPlayerAt(game, 1, 1)?.name || '4' }}</span>
        </div>
        <div
            class="stadium-score"
            score-right>
            SR
        </div>
    </app-stadium>
</ng-container>
