<ng-container *ngIf="game$ | async as game">
    <div class="game-title">
        <h1 class="game-h1">JUGANDO</h1>
        <button
            type="button"
            pButton
            icon="pi pi-bars"
            (click)="menu.toggle($event)"
            class="p-button-text p-button-secondary"></button>
        <p-menu
            #menu
            [popup]="true"
            [model]="menuOptions"></p-menu>
    </div>
    <app-stadium class="stadium">
        <div
            class="stadium-score"
            score-left>
            SL
        </div>
        <app-player
            slot-0-0
            class="stadium-player player-team-1"
            [player]="getPlayerAt(game, 0, 0)"
            (playerClick)="openPlayerSelector(0, 0)">
        </app-player>        
        <app-player
            slot-0-1
            class="stadium-player player-team-1"
            [player]="getPlayerAt(game, 0, 1)"
            (playerClick)="openPlayerSelector(0, 1)">
        </app-player>
        <app-player
            slot-1-0
            class="stadium-player player-team-2"
            [player]="getPlayerAt(game, 1, 0)"
            (playerClick)="openPlayerSelector(1, 0)">
        </app-player>
        <app-player
            slot-1-1
            class="stadium-player player-team-2"
            [player]="getPlayerAt(game, 1, 1)"
            (playerClick)="openPlayerSelector(1, 1)">
        </app-player>
        <div
            class="stadium-score"
            score-right>
            SR
        </div>
    </app-stadium>
    <p-dialog
        position="right"
        [modal]="true"
        [dismissableMask]="true"
        [header]="playerSelectorHeader"
        [(visible)]="displayPlayerSelector">
        <p-listbox
            [options]="game.participants"
            optionLabel="name"
            optionValue="name"
            (onClick)="playerSelectorClick($event)"></p-listbox>
    </p-dialog>
</ng-container>
<p-confirmDialog
    icon="pi pi-exclamation-triangle"
    [closable]="false">
</p-confirmDialog>
