$game-tittle-height: 54px;

:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;

  .game-title {
    display: flex;
    background: #bed1eb;
    border-bottom: 1px solid rgb(124, 124, 124);
    height: $game-tittle-height;

    .game-h1 {
      display: flex;
      width: 100%;
      flex: 1;
      justify-content: center;
      margin: 0;
      padding: 8px 0;
    }
  }

  app-stadium {
    display: flex;
    height: calc(100% - $game-tittle-height);
  }
}
